# Angular specific
/movies-client/dist/
/movies-client/out-tsc/
/movies-client/tmp/
/movies-client/coverage/
/movies-client/e2e/test-output/
/movies-client/.angular/
/movies-client/.angular/

# Node modules and dependency files
/movies-client/node_modules/
/movies-client/package-lock.json
/movies-client/yarn.lock

# Environment files
/movies-client/.env

# Angular CLI and build artefacts
/movies-client/.angular-cli.json
/movies-client/.ng/

# TypeScript cache
/movies-client/*.tsbuildinfo

# Logs
/movies-client/npm-debug.log*
/movies-client/yarn-debug.log*
/movies-client/yarn-error.log*
